# --- Środowisko Pythona ---
.venv/
venv/
ENV/
__pycache__/

*$py.class

# --- Pliki Flaska i Werkzeug ---
instance/
.webassets-cache

# --- Logi i śmieci systemowe ---
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# --- Specyficzne dla Enstagram Lab (Ataki i Forensics) ---
# Nie chcemy wysyłać śmieci po atakach na GitHub
hacked_file.txt
hack.txt
exploit.sh
*.pcap
wyjscie_obrazy/
output_data/

# Ale chcemy zachować folder, więc ignorujemy wszystko oprócz pliku .gitkeep
!static/uploads/.gitkeep

# --- Docker ---
.dockerignore